.section-title, .section-directions .section-directions__title, .section-advantages .section-advantages__title, .section-faq .section-faq__title, .section-main .section-main__title, .section-footer .section-footer__contacts-title {
  font-family: 'Bahnschrift';
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 60px;
}

.section-main .section-main__header, .card .card__title,
.card .card__text {
  font-family: 'Myriad Pro';
  font-weight: 400;
  letter-spacing: 1px;
}

.section-main .section-main__info, .section-advantages .section-advantages__item-title, .section-advantages .section-advantages__item-text, .section-faq .faq-list .faq-list__title, .section-faq .faq-list .faq-list__content, .section-footer .section-footer__contacts-info {
  font-family: 'Segoe UI';
  font-weight: 100;
  letter-spacing: 1px;
}

.button-open-form, .section-main .section-main__button {
  font-family: 'Myriad Pro';
  font-weight: 700;
  font-size: 13pt;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("fonts/BahnschriftRegular/BahnschriftRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  -webkit-transition: .12s;
  transition: .12s;
}

a:link, a:visited {
  color: white;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: #dedede;
  }
}

::-moz-selection {
  background: #007c9e;
  color: white;
}

::selection {
  background: #007c9e;
  color: white;
}

::-moz-selection {
  background: #007c9e;
  color: white;
}

::-webkit-selection {
  background: #007c9e;
  color: white;
}

:focus-visible {
  outline: 3px solid #007c9e;
  outline-offset: 3px;
  border-radius: 5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: calc(1200px + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.section-title, .section-directions .section-directions__title, .section-advantages .section-advantages__title, .section-faq .section-faq__title {
  font-size: 21pt;
  text-align: center;
  color: #007c9e;
  margin: 50px auto;
}

.button-open-form, .section-main .section-main__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0px 40px;
  border-radius: 20px;
  color: white;
  background-color: #77bc25;
  -webkit-box-shadow: 5px 5px 5px #466f15;
          box-shadow: 5px 5px 5px #466f15;
  cursor: pointer;
}

.button-open-form, .section-main .section-main__button {
  -webkit-transition: .25s;
  transition: .25s;
}

.button-open-form:active, .section-main .section-main__button:active {
  -webkit-filter: hue-rotate(15deg) !important;
          filter: hue-rotate(15deg) !important;
}

@media (hover: hover) and (pointer: fine) {
  .button-open-form, .section-main .section-main__button {
    -webkit-transition: .25s;
    transition: .25s;
  }
  .button-open-form:hover, .section-main .section-main__button:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-image: url("images/bg/bg-section-main.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 32px #3e3e3e;
          box-shadow: 0 0 32px #3e3e3e;
  padding: 50px 65px 40px 65px;
}

.section-main .section-main__header {
  font-size: 12pt;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 90px;
  padding-bottom: 28px;
}

.section-main .section-main__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  padding-bottom: 350px;
}

.section-main .section-main__title {
  font-size: 36pt;
  color: white;
}

.section-main .section-main__info {
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

.section-main .section-main__button {
  margin: 0 auto;
}

.menu {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 60px;
}

.menu .menu__list:focus {
  outline: 3px solid #007c9e;
  outline-offset: 3px;
}

.menu .menu__list-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: white;
}

.menu .menu__list-item {
  -webkit-transition: .25s;
  transition: .25s;
}

.menu .menu__list-item:active {
  -webkit-filter: hue-rotate(15deg) !important;
          filter: hue-rotate(15deg) !important;
}

.menu-contacts {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.menu-contacts .menu-contacts__number {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 11pt;
}

.menu-contacts .menu-contacts__number {
  -webkit-transition: .25s;
  transition: .25s;
}

.menu-contacts .menu-contacts__number:active {
  -webkit-filter: hue-rotate(15deg) !important;
          filter: hue-rotate(15deg) !important;
}

.menu-contacts .menu-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.menu-contacts .menu-contacts__link {
  -webkit-transition: .25s;
  transition: .25s;
}

.menu-contacts .menu-contacts__link:active {
  -webkit-filter: hue-rotate(15deg) !important;
          filter: hue-rotate(15deg) !important;
}

@media (hover: hover) and (pointer: fine) {
  .menu-contacts .menu-contacts__link {
    -webkit-transition: .25s;
    transition: .25s;
  }
  .menu-contacts .menu-contacts__link:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.section-directions .section-directions__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 75px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  pointer-events: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 8px #3e3e3e;
          box-shadow: 4px 4px 8px #3e3e3e;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(146, 150, 166, 0.65);
}

.card .card__image {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.card .card__title,
.card .card__text {
  text-align: center;
  text-shadow: 1px 1px 1px #3c3c3c;
  color: white;
  z-index: 1;
}

.card .card__title {
  font-size: 20pt;
  line-height: 45px;
}

.card .card__text {
  font-size: 13pt;
  line-height: 30px;
}

.section-advantages .section-advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding: 0 75px;
}

.section-advantages .section-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.section-advantages .section-advantages__item-image {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 120px;
  height: 120px;
  margin: auto 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-advantages .section-advantages__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-advantages .section-advantages__item-title {
  color: #3c3c3c;
  font-size: 14pt;
  font-weight: 400;
  padding-bottom: 25px;
}

.section-advantages .section-advantages__item-text {
  color: #3c3c3c;
  font-size: 13pt;
  line-height: 35px;
}

.section-faq .faq-list {
  padding: 0 75px 50px 75px;
}

.section-faq .faq-list .faq-list__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 235px;
}

.section-faq .faq-list .faq-list__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding: 25px 0;
}

.section-faq .faq-list .faq-list__li:first-child {
  border-top: 1px solid #e7e7e7;
}

.section-faq .faq-list .faq-list__item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .section-faq .faq-list .faq-list__item:hover .faq-list__btn-collapse {
    background-color: rgba(60, 60, 60, 0.15);
  }
}

.section-faq .faq-list .faq-list__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-faq .faq-list .faq-list__title {
  font-size: 20pt;
  color: #3c3c3c;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-faq .faq-list .faq-list__btn-collapse {
  color: #3c3c3c;
  background: transparent url("images/icon/icon-close.svg") center no-repeat;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  margin: auto 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  -webkit-transition: height 0.3s, background-color 0.15s, -webkit-transform 0.3s;
  transition: height 0.3s, background-color 0.15s, -webkit-transform 0.3s;
  transition: transform 0.3s, height 0.3s, background-color 0.15s;
  transition: transform 0.3s, height 0.3s, background-color 0.15s, -webkit-transform 0.3s;
}

.section-faq .faq-list .faq-list__btn-collapse_collapsed {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-faq .faq-list .faq-list__content {
  font-size: 13pt;
  color: #3c3c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
  height: auto;
  overflow: clip;
}

.section-faq .faq-list .faq-list__content_collapsed {
  visibility: hidden;
  height: 0;
}

.section-faq .faq-list .faq-list__text {
  padding-top: 25px;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 !important;
}

.section-footer .section-footer__image {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-image: url("images/bg/bg-section-footer.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 450px;
}

.section-footer .section-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 350px;
  -webkit-box-shadow: 0 0 32px #3e3e3e;
          box-shadow: 0 0 32px #3e3e3e;
}

.section-footer .section-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #464646;
  height: 350px;
  padding: 40px 25px;
}

.section-footer .section-footer__contacts-title {
  font-size: 26pt;
  letter-spacing: 1px;
  line-height: normal;
  color: white;
  text-transform: none;
  margin: 0 auto;
}

.section-footer .section-footer__contacts-info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16pt;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.section-footer .menu-contacts {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-footer .section-footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 350px;
}

.section-footer .map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 972px) {
  .section-title, .section-directions .section-directions__title, .section-advantages .section-advantages__title, .section-faq .section-faq__title {
    line-height: 40px;
  }
  .section-main .section-main__title-container {
    max-width: 100%;
    margin: 0 auto 0 0;
    padding-bottom: 475px;
  }
  .section-main .section-main__title {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 0;
    line-height: 40px;
  }
  .section-footer .section-footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-footer .section-footer__contacts-title {
    font-size: 22pt;
  }
  .section-footer .section-footer__contacts-info {
    font-size: 13pt;
  }
}

@media screen and (max-width: 660px) {
  .section-main {
    padding: 50px 30px 40px 30px;
  }
  .section-main .section-main__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-main .section-main__title-container {
    margin: 0 auto;
  }
  .section-main .section-main__title {
    font-size: 24pt;
  }
  .section-main .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px 20px;
  }
  .section-main .menu-contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .section-advantages .section-advantages__inner {
    padding: 0 25px;
  }
  .section-advantages .section-advantages__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-advantages .section-advantages__item-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-advantages .section-advantages__item-text {
    line-height: 25px;
  }
  .section-faq .faq-list {
    padding: 0 25px;
  }
  .section-faq .faq-list__title {
    font-size: 16pt !important;
  }
}

@media screen and (max-width: 435px) {
  .section-main {
    padding-top: 25px;
  }
  .section-main .menu__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px 70px;
    padding: 0 30px;
  }
}
