@charset "UTF-8";
.title-section, .modal .modal__title, .section-main .section-main__title, .section-footer .section-footer__contacts-title {
  font-family: 'Bahnschrift';
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: normal;
}

.section-main .section-main__header, .menu .menu__list-item, .card .card__title,
.card .card__text, .dropdown .dropdown__content .dropdown__link {
  font-family: 'Myriad Pro';
  font-weight: 400;
  letter-spacing: 1px;
}

.section-main .section-main__info, .section-advantages .section-advantages__item-title, .section-advantages .section-advantages__item-text, .section-faq .faq-list .faq-list__title, .section-faq .faq-list .faq-list__content, .section-prices, .section-footer .section-footer__contacts-info, .modal .modal__form .modal__input, .modal .modal__files .modal__files-info, .modal .modal__info, .error {
  font-family: 'Segoe UI';
  font-weight: 300;
  letter-spacing: 1px;
}

.button-open-form, .modal .modal__files .modal__input-files + label, .modal .modal__button-send {
  font-family: 'Myriad Pro';
  font-weight: 700;
  font-size: 13pt;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
}

.button-open-form, .modal .modal__files .modal__input-files + label, .modal .modal__button-send {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0px 40px;
  border-radius: 20px !important;
  color: white;
  background-color: #77bc25;
  -webkit-box-shadow: 5px 5px 5px #466f15;
          box-shadow: 5px 5px 5px #466f15;
  cursor: pointer;
}

.button-open-form, .modal .modal__files .modal__input-files + label, .modal .modal__button-send {
  -webkit-transition: .25s filter linear, .25s -webkit-filter linear;
  transition: .25s filter linear, .25s -webkit-filter linear;
}

.button-open-form:active, .modal .modal__files .modal__input-files + label:active, .modal .modal__button-send:active {
  -webkit-filter: hue-rotate(15deg) !important;
          filter: hue-rotate(15deg) !important;
}

.button-open-form, .modal .modal__files .modal__input-files + label, .modal .modal__button-send {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

@media (hover: hover) and (pointer: fine) {
  .button-open-form:hover, .modal .modal__files .modal__input-files + label:hover, .modal .modal__button-send:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@font-face {
  font-family: "Bahnschrift";
  src: url("fonts/BahnschriftRegular/BahnschriftRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  -webkit-transition: .12s;
  transition: .12s;
}

a:link, a:visited {
  color: white;
}

::-moz-selection {
  background: #007c9e;
  color: white;
}

::selection {
  background: #007c9e;
  color: white;
}

::-moz-selection {
  background: #007c9e;
  color: white;
}

::-webkit-selection {
  background: #007c9e;
  color: white;
}

:focus-visible:focus {
  outline: 3px solid #007c9e;
  outline-offset: 3px;
  border-radius: 5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: calc(1200px + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.title-section, .modal .modal__title {
  font-size: 21pt;
  text-align: center;
  color: #007c9e;
  margin: 50px auto;
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-image: url("images/bg/bg-section-main.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 32px #3e3e3e;
          box-shadow: 0 0 32px #3e3e3e;
  padding: 50px 65px 40px 65px;
}

.section-main .section-main__header {
  font-size: 12pt;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 90px;
  padding-bottom: 28px;
}

.section-main .section-main__menu-contacts {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-main .section-main__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  padding-bottom: 350px;
}

.section-main .section-main__title {
  line-height: 60px;
  font-size: 36pt;
  color: white;
}

.section-main .section-main__info {
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

.section-main .section-main__button {
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 60px;
}

.menu .menu__list-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: white;
}

.menu .menu__list-link {
  -webkit-transition: color .2s;
  transition: color .2s;
}

@media (hover: hover) and (pointer: fine) {
  .menu .menu__list-link:hover, .menu .menu__list-link:focus {
    color: #dedede;
  }
}

.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.menu-contacts .menu-contacts__number {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 11pt;
  -webkit-transition: color .2s;
  transition: color .2s;
}

@media (hover: hover) and (pointer: fine) {
  .menu-contacts .menu-contacts__number:hover, .menu-contacts .menu-contacts__number:focus {
    color: #dedede;
  }
}

.menu-contacts .menu-contacts__link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.menu-contacts .menu-contacts__link {
  -webkit-transition: .25s filter linear, .25s -webkit-filter linear;
  transition: .25s filter linear, .25s -webkit-filter linear;
}

.menu-contacts .menu-contacts__link:active {
  -webkit-filter: hue-rotate(15deg) !important;
          filter: hue-rotate(15deg) !important;
}

.menu-contacts .menu-contacts__link {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

@media (hover: hover) and (pointer: fine) {
  .menu-contacts .menu-contacts__link:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.section-directions .section-directions__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 75px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  pointer-events: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 8px #3e3e3e;
          box-shadow: 4px 4px 8px #3e3e3e;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(146, 150, 166, 0.65);
}

.card .card__image {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.card .card__title,
.card .card__text {
  text-align: center;
  text-shadow: 1px 1px 1px #3c3c3c;
  color: white;
  z-index: 1;
}

.card .card__title {
  font-size: 20pt;
  line-height: 45px;
}

.card .card__text {
  font-size: 13pt;
  line-height: 30px;
}

.section-advantages .section-advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding: 0 75px;
}

.section-advantages .section-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.section-advantages .section-advantages__item-image {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 120px;
  height: 120px;
  margin: auto 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-advantages .section-advantages__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-advantages .section-advantages__item-title {
  color: #3c3c3c;
  font-size: 14pt;
  font-weight: 400;
  padding-bottom: 25px;
}

.section-advantages .section-advantages__item-text {
  color: #3c3c3c;
  letter-spacing: 0;
  font-size: 13pt;
  line-height: 35px;
}

.section-faq .section-faq__faq-list {
  padding: 0 75px 50px 75px;
}

.section-faq .faq-list .faq-list__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 235px;
}

.section-faq .faq-list .faq-list__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding: 25px 0;
}

.section-faq .faq-list .faq-list__li:first-child {
  border-top: 1px solid #e7e7e7;
}

.section-faq .faq-list .faq-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .section-faq .faq-list .faq-list__item:hover .faq-list__btn-expand {
    background-color: rgba(60, 60, 60, 0.15);
  }
}

.section-faq .faq-list .faq-list__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-faq .faq-list .faq-list__title {
  font-size: 20pt !important;
  font-weight: 400;
  color: #3c3c3c;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-faq .faq-list .faq-list__btn-expand {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3c3c3c;
  background: transparent url("images/icon/icon-plus.svg") center no-repeat;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  margin: auto 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  -webkit-transition: height 0.3s, background-color 0.15s, -webkit-transform 0.3s;
  transition: height 0.3s, background-color 0.15s, -webkit-transform 0.3s;
  transition: transform 0.3s, height 0.3s, background-color 0.15s;
  transition: transform 0.3s, height 0.3s, background-color 0.15s, -webkit-transform 0.3s;
}

.section-faq .faq-list .faq-list__btn-expand_expanded {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-faq .faq-list .faq-list__content {
  font-size: 16pt;
  color: #3c3c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: clip;
  visibility: hidden;
  height: 0;
}

.section-faq .faq-list .faq-list__content_expanded {
  visibility: visible;
  height: auto;
  overflow: clip;
}

.section-faq .faq-list .faq-list__text {
  padding-top: 25px;
}

.section-prices {
  margin-top: 50px;
}

.section-prices .section-prices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #007c9e;
  border-radius: 50px;
  background-color: #fafafa;
  padding: 50px 25px 50px 25px;
  margin: 0px 25px;
}

.section-prices .section-prices__title {
  margin: 0;
  padding-bottom: 50px;
}

.section-prices .section-prices__prices-table {
  padding-bottom: 50px;
}

.section-prices .section-prices__button {
  margin: 0 auto;
}

.prices-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.prices-table .prices-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

.prices-table .prices-table__col-name,
.prices-table .prices-table__col-list,
.prices-table .prices-table__col-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.prices-table .prices-table__col-name {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-size: 20pt;
  font-weight: 400;
  text-transform: uppercase;
}

.prices-table .prices-table__col-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: '— ';
  padding-left: 2rem;
}

.prices-table .prices-table__col-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  white-space: nowrap;
}

.prices-table .prices-table__col-price .prices-table__text-price,
.prices-table .prices-table__col-price .prices-table__text-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.prices-table .prices-table__col-price .prices-table__text-price {
  font-size: 20pt;
  font-weight: 400;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 !important;
}

.section-footer .section-footer__image {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-image: url("images/bg/bg-section-footer.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 450px;
}

.section-footer .section-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 350px;
  -webkit-box-shadow: 0 0 32px #3e3e3e;
          box-shadow: 0 0 32px #3e3e3e;
}

.section-footer .section-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #464646;
  height: 350px;
  padding: 40px 40px;
}

.section-footer .section-footer__contacts-title {
  font-size: 26pt;
  letter-spacing: 1px;
  color: white;
  text-transform: none;
  margin: 0 auto;
}

.section-footer .section-footer__contacts-info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16pt;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.section-footer .section-footer__menu-contacts {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-footer .section-footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 350px;
}

.section-footer .map {
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown__open-link::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 45%;
  right: -.5rem;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-color: transparent transparent transparent transparent;
  border-top-color: inherit;
}

.dropdown .dropdown__content {
  display: none;
  position: absolute;
  min-width: 175px;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px #3e3e3e;
          box-shadow: 0px 8px 16px 0px #3e3e3e;
  border-radius: 16px;
  z-index: 1;
}

.dropdown .dropdown__content .dropdown__link {
  letter-spacing: 0;
  display: block;
  text-decoration: none;
  color: #3c3c3c;
  padding: 12px 16px;
}

.dropdown .dropdown__content .dropdown__link:first-child {
  border-radius: 16px 16px 0 0;
}

.dropdown .dropdown__content .dropdown__link:last-child {
  border-radius: 0 0 16px 16px;
}

.dropdown .dropdown__content .dropdown__link:hover {
  background-color: #dedede;
}

.dropdown:hover .dropdown__content, .dropdown:focus .dropdown__content {
  display: block;
}

.dropdown:hover .dropdown__open-link, .dropdown:focus .dropdown__open-link {
  color: #dedede;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal_active {
  visibility: visible;
  opacity: 1;
}

.modal .modal__btn-close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 15pt;
  border-radius: 10px;
  padding: 16px;
  margin: 7px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.modal .modal__btn-close:hover, .modal .modal__btn-close:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.modal .modal__btn-close:after {
  content: '×' !important;
}

.modal .modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 0;
  left: auto;
  right: auto;
  width: 760px;
  z-index: 2;
  background-color: white;
  border-radius: 20px;
  margin: auto;
}

.modal .modal__title {
  color: #3c3c3c;
  margin: 50px;
}

.modal .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin: 0 50px 25px 50px;
}

.modal .modal__form .modal__input {
  letter-spacing: 0;
  font-size: 16px;
  color: #3c3c3c;
  -webkit-box-shadow: 2px 2px 4px #3c3c3c;
          box-shadow: 2px 2px 4px #3c3c3c;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  -webkit-transition: .25s;
  transition: .25s;
}

.modal .modal__form .modal__input:focus-visible {
  outline: 0;
  -webkit-box-shadow: 2px 2px 8px #3c3c3c;
          box-shadow: 2px 2px 8px #3c3c3c;
}

.modal .modal__form .modal__input:last-of-type {
  margin-bottom: 25px;
}

.modal .modal__files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal__files .modal__input-files {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.modal .modal__files .modal__input-files + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  cursor: pointer;
}

.modal .modal__files .modal__input-files:focus + label {
  outline: 3px solid #007c9e;
  outline-offset: 3px;
  border-radius: 5px;
}

.modal .modal__files .modal__files-info {
  text-align: center;
  font-size: 14pt;
  margin: auto;
  padding: 0 25px;
}

.modal .modal__info {
  text-align: center;
  margin: 0 50px;
  padding-bottom: 50px;
}

.error {
  color: #cc3d3f;
  padding-left: 20px;
}

.modal__input.error {
  background-color: rgba(204, 61, 63, 0.05);
}

@media screen and (max-width: 972px) {
  .title-section, .modal .modal__title {
    line-height: 40px;
  }
  .section-main .section-main__title-container {
    max-width: 100%;
    margin: 0 auto 0 0;
    padding-bottom: 475px;
  }
  .section-main .section-main__title {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 0;
    line-height: 40px;
  }
  .section-prices .prices-table .prices-table__col-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-footer .section-footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-footer .section-footer__contacts {
    padding: 40px 25px;
  }
  .section-footer .section-footer__contacts-title {
    font-size: 22pt;
  }
  .section-footer .section-footer__contacts-info {
    font-size: 13pt;
  }
}

@media screen and (max-width: 660px) {
  .section-main {
    padding: 50px 30px 40px 30px;
  }
  .section-main .section-main__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-main .section-main__title-container {
    margin: 0 auto;
  }
  .section-main .section-main__title {
    font-size: 24pt;
  }
  .section-main .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px 20px;
  }
  .section-main .menu-contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .section-advantages .section-advantages__inner {
    padding: 0 25px;
  }
  .section-advantages .section-advantages__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-advantages .section-advantages__item-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-advantages .section-advantages__item-text {
    line-height: 25px;
  }
  .section-prices .section-prices__inner {
    margin: 0px;
  }
  .section-prices .section-prices__button {
    height: 75px;
  }
  .section-prices .prices-table {
    gap: 50px;
  }
  .section-prices .prices-table .prices-table__col-name,
  .section-prices .prices-table .prices-table__col-list,
  .section-prices .prices-table .prices-table__col-price {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-prices .prices-table .prices-table__col-name *,
  .section-prices .prices-table .prices-table__col-list *,
  .section-prices .prices-table .prices-table__col-price * {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .section-faq .faq-list {
    padding: 0 25px;
  }
  .section-faq .faq-list .faq-list__title {
    font-size: 16pt !important;
  }
  .modal .modal__files {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
  }
  .modal .modal__input-files + label {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .modal .modal__files-info {
    font-size: 12pt !important;
  }
}

@media screen and (max-width: 435px) {
  .section-main {
    padding-top: 25px;
  }
  .section-main .menu__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px 70px;
    padding: 0 30px;
  }
  .section-footer .section-footer__contacts,
  .section-footer .section-footer__map {
    min-width: 100%;
  }
  .dropdown .dropdown__content {
    left: none;
    right: -.5rem;
  }
  .modal .modal__content {
    margin: 68px 0 auto 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
