@font-face {
    font-family: "Bahnschrift";
    src: url("fonts/Bahnschrift.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MyriadPro.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}