html, body {
	height: 100%;
	transition: .12s;
}

a {
	&:link,
	&:visited {
		color: $clr-text-light;
	}
	&:hover {
		@include hover-wrapper {
			color: $clr-text-light-hover;
		}
	}
}

::selection {background: $clr-accent; color: $clr-text-light;}
::-moz-selection {background: $clr-accent; color: $clr-text-light;}
::-webkit-selection {background: $clr-accent; color: $clr-text-light;}

:focus-visible {
	outline: 3px solid $clr-accent;
	outline-offset: 3px;
	border-radius: 5px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: calc(1200px + 30px);
	margin: 0 auto;
	padding: 0 15px;
}