@media screen and (max-width: 972px) {
    .title-section {
        line-height: 40px;
    }

    .section-main {
        .section-main__title-container {
            max-width: 100%;
            margin: 0 auto 0 0;
            padding-bottom: 475px;
        }
        .section-main__title {
            text-align: center;
            font-size: 30pt;
            letter-spacing: 0;
            line-height: 40px;
        }
    }

    .section-prices {
        .prices-table {
            .prices-table__col-name {
                flex-basis: 100%;
            }
        }
    }

    .section-footer {
        .section-footer__inner {
            flex-wrap: wrap;
        }
        .section-footer__contacts {
            padding: 40px 25px;
        }
        .section-footer__contacts-title {
            font-size: 22pt;
        }
        .section-footer__contacts-info {
            font-size: 13pt;
        }
    }
}

@media screen and (max-width: 660px) {
    .section-main {
        padding: 50px 30px 40px 30px;

        .section-main__header {
            justify-content: center;
        }
        .section-main__title-container {
            // padding: 0;
            margin: 0 auto;
        }
        .section-main__title {
            font-size: 24pt;
        }

        .menu__list {
            justify-content: center;
            gap: 10px 20px;
        }

        .menu-contacts {
            flex-grow: 1;
        }
    }

    .section-advantages {
        .section-advantages__inner {
            padding: 0 25px;
        }
        .section-advantages__item {
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
        }
        .section-advantages__item-description {
            justify-content: center;
            text-align: center;
        }
        .section-advantages__item-text {
            line-height: 25px;
        }
    }

    .section-prices {
        .section-prices__inner {
            margin: 0px;
        }
        .section-prices__button {
            height: 75px;
        }

        .prices-table {
            gap: 50px;

            .prices-table__col-name,
            .prices-table__col-list,
            .prices-table__col-price {
                flex-basis: 100%;
                * {
                    justify-content: flex-start !important;
                }
            }
        }
    }

    .section-faq {
        .faq-list {
            padding: 0 25px;

            .faq-list__title {
                font-size: 16pt !important;
            }
        }
    }

    .modal {
        .modal__files {
            flex-wrap: wrap;
            gap: 25px;
        }
        .modal__input-files + label {
            flex-basis: 100% !important;
        }
        .modal__files-info {
            font-size: 12pt !important;
        }
    }
}

@media screen and (max-width: 435px) {
    .section-main {
        padding-top: 25px;

        .menu__list {
            justify-content: space-between;
            gap: 10px 70px;
            padding: 0 30px;
        }
    }

    .section-footer {
        .section-footer__contacts,
        .section-footer__map {
            min-width: 100%;
        }
    }

    .dropdown {
        .dropdown__content {
            left: none;
            right: -.5rem;
        }
    }

    .modal {
        .modal__content {
            margin: 68px 0 auto 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}