$clr-text-light: rgb(255, 255, 255);
$clr-text-light-hover: rgb(222, 222, 222);
$clr-text-dark: rgb(60, 60, 60);

$clr-button: rgb(119, 188, 37);
$clr-button-active: rgb(101, 175, 24);
$clr-button-shadow: rgb(70, 111, 21);

$clr-image-cover: rgba(146, 150, 166, 0.65);
$clr-image-shadow: rgb(62, 62, 62);

$clr-accent: rgb(0, 124, 158);
$clr-divider: rgb(231, 231, 231);

@mixin active {
    &:active {
        opacity: .85;
    }
}

@mixin focus {
    &:focus {
        outline: 3px solid $clr-accent;
        outline-offset: 3px;
    }
}

@mixin select-off {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%font-title {
    font-family: 'Bahnschrift';
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 60px;
}

%font-regular {
    font-family: 'Myriad Pro';
    font-weight: 400;
    letter-spacing: 1px;
}

%font-light {
    font-family: 'Segoe UI';
    font-weight: 100;
    letter-spacing: 1px;
}

%font-button {
    font-family: 'Myriad Pro';
    font-weight: 700;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: $clr-text-light;
}
