$clr-white-text: rgb(255, 255, 255);
$clr-white-text-hover: rgb(222, 222, 222);

$clr-button: rgb(119, 188, 37);
$clr-button-active: rgb(101, 175, 24);
$clr-button-shadow: rgb(70, 111, 21);

$clr-focus: rgb(0, 124, 158);
$clr-image-cover: rgba(146, 150, 166, 0.65);
$clr-image-shadow: rgb(62, 62, 62);

@mixin active {
    &:active {
        opacity: .85;
    }
}

@mixin focus {
    &:focus {
        outline: 3px solid $clr-focus;
        outline-offset: 3px;
    }
}

%font-title {
    font-family: 'Bahnschrift';
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 60px;
}

%font-regular {
    font-family: 'Myriad Pro';
    font-weight: 400;
    letter-spacing: 1px;
}

%font-light {
    font-family: 'Segoe UI';
    font-weight: 100;
    letter-spacing: 1px;
}

%font-button {
    font-family: 'Myriad Pro';
    font-weight: 700;
    font-size: 13pt;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: $clr-white-text;
}

%image-shadow {
    box-shadow: 0 0 32px $clr-image-shadow;
}