@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.title-section {
    @extend %font-title;
    font-size: 21pt;
    text-align: center;
    color: $clr-accent;
    margin: 50px auto;
}

.button-open-form {
	@extend %button;
}

.section-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    background-image: url('images/bg/bg-section-main.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    box-shadow: 0 0 32px $clr-image-shadow;
    padding: 50px 65px 40px 65px;

    .section-main__header {
        @extend %font-regular;
        font-size: 12pt;
        color: $clr-text-light;

        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        gap: 25px 90px;
        padding-bottom: 28px;
    }

    .section-main__menu-contacts {
        justify-content: center;
    }

    .section-main__title-container {
        display: flex;
        max-width: 600px;
        padding-bottom: 350px;
    }
    
    .section-main__title {
        @extend %font-title;
        line-height: 60px;
        font-size: 36pt;
        color: $clr-text-light;
    }

    .section-main__info {
        @extend  %font-light;
        text-align: center;
        color: $clr-text-light;
        padding-bottom: 40px;
    }

    .section-main__button {
        margin: 0 auto;
    }
}

.menu {
    display: flex;
    align-items: center;

    .menu__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 60px;
    }

    .menu__list-item {
        @extend %font-regular;
        flex-shrink: 0;
        color: $clr-text-light;
    }

    .menu__list-link {
        transition: color .2s;

        &:hover,
        &:focus {
            @include hover-wrapper {
                color: $clr-text-light-hover;
            }
        }
    }
}

.menu-contacts {
    display: flex;
    align-items: center;
    gap: 12px;

    .menu-contacts__number {
        flex-shrink: 0;
        font-size: 11pt;
        transition: color .2s;

        &:hover,
        &:focus {
            @include hover-wrapper {
                color: $clr-text-light-hover;
            }
        }
    }

    .menu-contacts__link {
        @include select-off;
        @include active;
        @include hover;
        display: flex;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        background-size: cover;
    }
}

.section-directions {
    .section-directions__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    pointer-events: none;
    justify-content: center;
    box-shadow: 4px 4px 8px $clr-image-shadow;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $clr-image-cover;
    }

    .card__image  {
        @include select-off;
        object-fit: cover;
        position: absolute;
    }

    .card__title, 
    .card__text {
        @extend %font-regular;
        text-align: center;
        text-shadow: 1px 1px 1px $clr-text-dark;
        color: $clr-text-light;
        z-index: 1;
    }

    .card__title {
        font-size: 20pt;
        line-height: 45px;
    }

    .card__text {
        font-size: 13pt;
        line-height: 30px;
    }
}

.section-advantages {
    .section-advantages__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 75px;
    }

    .section-advantages__item {
        display: flex;
        gap: 50px;
    }

    .section-advantages__item-image {
        @include select-off;
        width: 120px;
        height: 120px;
        margin: auto 0;
        flex-shrink: 0;
    }

    .section-advantages__item-description {
        display: flex;
        flex-direction: column;
    }

    .section-advantages__item-title {
        @extend %font-light;
        color: $clr-text-dark;
        font-size: 14pt;
        font-weight: 400;
        padding-bottom: 25px;
    }

    .section-advantages__item-text {
        @extend %font-light;
        color: $clr-text-dark;
        letter-spacing: 0;
        font-size: 13pt;
        line-height: 35px;
    }
}

$faq-list-animation-speed: .3s;

.section-faq {
    .section-faq__faq-list {
        padding: 0 75px 50px 75px;
    }

    .faq-list {
        .faq-list__ul {
            display: flex;
            flex-direction: column;
            min-width: 235px;
        }

        .faq-list__li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            width: 100%;
            border-bottom: 1px solid $clr-divider;
            padding: 25px 0;

            &:first-child {
                border-top: 1px solid $clr-divider;
            }
        }
        
        .faq-list__item {
            // @include select-off;
            display: flex;
            justify-content: space-between;
            height: 100%;
            cursor: pointer;

            &:hover {
                @include hover-wrapper {
                    .faq-list__btn-expand {
                        background-color: rgba($clr-text-dark, .15);
                    }
                }
            }
            
        }

        .faq-list__title-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        .faq-list__title {
            @extend %font-light;
            font-size: 20pt !important;
            font-weight: 400;
            color: $clr-text-dark;
            align-self: flex-start;
        }

        .faq-list__btn-expand {
            @include select-off;
            color: $clr-text-dark;
            background: transparent url('images/icon/icon-plus.svg') center no-repeat;
            pointer-events: none;
            display: flex;
            border-radius: 100px;
            margin: auto 14px;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            transition: transform $faq-list-animation-speed, height $faq-list-animation-speed, background-color .15s;
        }

        .faq-list__btn-expand_expanded {
            transform: rotate(45deg);
        }

        .faq-list__content {
            @extend %font-light;
            font-size: 16pt;
            color: $clr-text-dark;
            transition: $faq-list-animation-speed;

            overflow: clip;
            visibility: hidden;
            height: 0;
        }

        .faq-list__content_expanded {
            visibility: visible;
            height: auto;
            overflow: clip;
        }

        .faq-list__text {
            padding-top: 25px;
        }
    }
}

.section-prices {
    @extend %font-light;
    margin-top: 50px;

    .section-prices__inner {
        display: flex;
        flex-direction: column;
        border: 3px solid $clr-accent;
        border-radius: 50px;
        background-color: $clr-bg;
        padding: 50px 25px 50px 25px;
        margin: 0px 25px;
    }

    .section-prices__title {
        margin: 0;
        padding-bottom: 50px;
    }

    .section-prices__prices-table {
        padding-bottom: 50px;
    }

    .section-prices__button {
        margin: 0 auto;
    }
}

.prices-table {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .prices-table__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 25px;
    }

    .prices-table__col-name,
    .prices-table__col-list,
    .prices-table__col-price
     {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .prices-table__col-name {
        flex-basis: 30%;
        font-size: 20pt;
        font-weight: 400;
        text-transform: uppercase;
    }

    .prices-table__col-list {
        display: flex;
        flex-basis: 40%;
        flex-grow: 1;

        list-style-type: '— ';
        padding-left: 2rem
    }

    .prices-table__col-price {
        display: flex;
        flex-basis: 10%;
        white-space: nowrap;

        .prices-table__text-price,
        .prices-table__text-time {
            display: flex;
            justify-content: flex-end;
        }

        .prices-table__text-price {
            font-size: 20pt;
            font-weight: 400;
        }
    }
}

.section-footer {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

    .section-footer__image {
        flex-wrap: wrap;
        position: relative;

        background-image: url('images/bg/bg-section-footer.jpg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        height: 450px;
    }

    .section-footer__inner {
        display: flex;
        flex-direction: row;
        height: 350px;
        box-shadow: 0 0 32px $clr-image-shadow;
    }

    .section-footer__contacts {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 50%;

        justify-content: space-between;
        background-color: $clr-footer;

        height: 350px;
        padding: 40px 40px;
    }

    .section-footer__contacts-title {
        @extend %font-title;
        font-size: 26pt;
        letter-spacing: 1px;
        color: $clr-text-light;
        text-transform: none;
        margin: 0 auto;
    }

    .section-footer__contacts-info {
        @extend %font-light;
        justify-content: flex-start;
        font-size: 16pt;
        color: $clr-text-light;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-footer__menu-contacts {
        justify-content: flex-start;
    }

    .section-footer__map {
        display: flex;
        flex-grow: 1;
        flex-basis: 50%;
        height: 350px;
	}

	.map {
		width: 100%;
		height: 100%;
	}
}

$dropdown-border: 16px;

.dropdown {
    position: relative;
    display: inline-block;

    .dropdown__open-link::after {
        @include select-off;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 45%;
        right: -.5rem;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        transform: translateY(-50%);
        border-color: transparent transparent transparent transparent;
        border-top-color: inherit;
    }

    .dropdown__content {
        display: none;
        position: absolute;
        min-width: 175px;
        background-color: $clr-text-light;
        box-shadow: 0px 8px 16px 0px $clr-image-shadow;
        border-radius: $dropdown-border;
        z-index: 1;
    
        .dropdown__link {
            @extend %font-regular;
            letter-spacing: 0;
            display: block;
            text-decoration: none;
            color: $clr-text-dark;
            padding: 12px 16px;
            
            &:first-child {
                border-radius: $dropdown-border $dropdown-border 0 0;
            }

            &:last-child {
                border-radius: 0 0 $dropdown-border $dropdown-border;
            }

            &:hover {
                background-color: $clr-text-light-hover;
            }
        }
    }

    &:hover, &:focus {
        .dropdown__content {
            display: block;
        }
        
        .dropdown__open-link {
            color: $clr-text-light-hover;
        }
    }
}

.modal {
	display: flex;
	justify-content: center;

	position: fixed;
	left: 0;
	top: 0;		
	z-index: 1;

    visibility: hidden;
	opacity: 0;

	width: 100%;
	height: 100%;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in-out;

	&_active {
        visibility: visible;
		opacity: 1;
	}

    .modal__btn-close {
        @include select-off;
		position: absolute;
		top: 0px;
		right: 0px;
    
		color: white;
		font-size: 35px;
		font-weight: 700;
        line-height: 15pt;

		border-radius: 10px;
		padding: 16px;
		margin: 7px;

        transition: background-color 0.3s ease;

		&:hover, &:focus {
			text-decoration: none;
			background-color: rgba(255, 255, 255, 0.15);
			cursor: pointer;
		}

		&:after {
			content: '×' !important;
		}
	}

    .modal__content {
		display: flex;
        flex-direction: column;

        position: relative;
        top: 0;
        left: auto;
        right: auto;

        width: 760px;
        z-index: 2;

        background-color: white;
        border-radius: 20px;
        margin: auto;
	}

    .modal__title {
        @extend .title-section;
        color: $clr-text-dark;
        margin: 50px;
    }

    .modal__form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0 50px 25px 50px;

        .modal__input {
            @extend %font-light;
            letter-spacing: 0;
            font-size: 16px;
            color: $clr-text-dark;

            box-shadow: 2px 2px 4px $clr-text-dark;
            border: none;
            border-radius: 20px;
    
            width: 100%;
            height: 55px;
            padding: 0 20px;

            transition: .25s;

            &:focus-visible {
                outline: 0;
                box-shadow: 2px 2px 8px $clr-text-dark;
            }

            &:last-of-type {
                margin-bottom: 25px;
            }
        }
    }

    .modal__files {
        display: flex;
        justify-items: center;
        align-items: center;

        .modal__input-files {
            position: absolute;
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            z-index: -1;
        }

        .modal__input-files + label {
            @extend %button;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            flex-basis: 25%;
            cursor: pointer;
        }

        .modal__input-files:focus + label {
            // @include focus;
            outline: 3px solid $clr-accent;
            outline-offset: 3px;
            border-radius: 5px;
        }

        .modal__files-info {
            @extend %font-light;
            text-align: center;
            font-size: 14pt;
            margin: auto;
            padding: 0 25px;
        }
    }

    .modal__button-send {
        @extend %button;
    }

    .modal__info {
        @extend %font-light;
        text-align: center;
        margin: 0 50px;
        padding-bottom: 50px;
    }
}

.error {
    @extend %font-light;
    color: $clr-error;
    padding-left: 20px;
}

.modal__input.error {
    background-color: rgba($clr-error, 0.05);
}

@import 'media';