@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.background-image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('images/bg-main-section.png');
    // min-height: 732px;
    // min-width: 1200px;

    &__header {
        @extend %font-regular;
        font-size: 12pt;
        color: $clr-white-text;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 25px 90px;
        padding: 50px 50px 28px 50px;

        .menu {
            display: flex;
            align-items: center;

            &__list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px 60px;
            }
        
            &__list-item {
                flex-shrink: 0;
                color: $clr-white-text;
            }
        }

        .contacts {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            &__number {
                flex-shrink: 0;
                font-size: 11pt;
            }

            &__link {
                display: flex;
                flex-shrink: 0;
                width: 32px;
                height: 32px;
                background-size: cover;
            }
        }
    }

    &__title-container {
        display: flex;
        padding-left: 50px;
        max-width: 600px;
    }
    
    &__title {
        @extend %font-title;
        font-size: 36pt;
        color: $clr-white-text;
    }

    &__description {
        @extend  %font-light;
        padding: 350px 50px 0px 50px;
        text-align: center;
        color: $clr-white-text;
    }

    &__button {
        @extend %font-button;
        height: 50px;
        padding: 0px 40px;
        margin: 40px auto;
    }
}

.directions-section {
    &__title {
        @extend %font-title;
        font-size: 21pt;
        text-align: center;
        color: $clr-focus;
        margin: 50px auto;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 75px;
        flex-direction: row;
        justify-content: center;

        .card {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 300px;
            height: 300px;
            pointer-events: none;
            justify-content: center;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                background: $clr-background-cover;
            }

            &__image  {
                object-fit: cover;
                position: absolute;
            }

            &__title, &__text {
                @extend %font-regular;
                text-align: center;
                color: $clr-white-text;
                z-index: 1;
            }

            &__title {
                font-size: 20pt;
                line-height: 45px;
            }
            &__text {
                font-size: 13pt;
                line-height: 30px;
            }
        }
    }
}

@import 'media';