@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.section-title {
    @extend %font-title;
    font-size: 21pt;
    text-align: center;
    color: $clr-accent;
    margin: 50px auto;
}

.button-open-form {
    @include select-off;
    @include active;
    @include hover;
	@extend %font-button;
    align-items: center;
    height: 50px;
    padding: 0px 40px;
    border-radius: 20px;
    color: $clr-text-light;
	background-color: $clr-button;
	box-shadow: 5px 5px 5px $clr-button-shadow;
	cursor: pointer;
}

.section-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    background-image: url('images/bg/bg-section-main.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    box-shadow: 0 0 32px $clr-image-shadow;
    padding: 50px 65px 40px 65px;

    .section-main__header {
        @extend %font-regular;
        font-size: 12pt;
        color: $clr-text-light;

        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        gap: 25px 90px;
        padding-bottom: 28px;
    }

    .section-main__menu-contacts {
        justify-content: center;
    }

    .section-main__title-container {
        display: flex;
        max-width: 600px;
        padding-bottom: 350px;
    }
    
    .section-main__title {
        @extend %font-title;
        font-size: 36pt;
        color: $clr-text-light;
    }

    .section-main__info {
        @extend  %font-light;
        text-align: center;
        color: $clr-text-light;
        padding-bottom: 40px;
    }

    .section-main__button {
        @extend .button-open-form;
        margin: 0 auto;
    }
}

.menu {
    display: flex;
    align-items: center;

    .menu__list {
        @include focus;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 60px;
    }

    .menu__list-item {  
        @include active;
        flex-shrink: 0;
        color: $clr-text-light;
    }
}

.menu-contacts {
    display: flex;
    align-items: center;
    gap: 12px;

    .menu-contacts__number {
        @include active;
        flex-shrink: 0;
        font-size: 11pt;
    }

    .menu-contacts__link {
        @include select-off;
        @include active;
        @include hover;
        display: flex;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        background-size: cover;
    }
}

.section-directions {
    .section-directions__title {
        @extend .section-title;
    }

    .section-directions__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    pointer-events: none;
    justify-content: center;
    box-shadow: 4px 4px 8px $clr-image-shadow;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $clr-image-cover;
    }

    .card__image  {
        @include select-off;
        object-fit: cover;
        position: absolute;
    }

    .card__title, 
    .card__text {
        @extend %font-regular;
        text-align: center;
        text-shadow: 1px 1px 1px $clr-text-dark;
        color: $clr-text-light;
        z-index: 1;
    }

    .card__title {
        font-size: 20pt;
        line-height: 45px;
    }

    .card__text {
        font-size: 13pt;
        line-height: 30px;
    }
}

.section-advantages {
    .section-advantages__title {
        @extend .section-title;
    }

    .section-advantages__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 75px;
    }

    .section-advantages__item {
        display: flex;
        gap: 50px;
    }

    .section-advantages__item-image {
        @include select-off;
        width: 120px;
        height: 120px;
        margin: auto 0;
        flex-shrink: 0;
    }

    .section-advantages__item-description {
        display: flex;
        flex-direction: column;
    }

    .section-advantages__item-title {
        @extend %font-light;
        color: $clr-text-dark;
        font-size: 14pt;
        font-weight: 400;
        padding-bottom: 25px;
    }

    .section-advantages__item-text {
        @extend %font-light;
        color: $clr-text-dark;
        font-size: 13pt;
        line-height: 35px;
    }
}

$faq-list-animation-speed: .3s;

.section-faq {
    .section-faq__title {
        @extend .section-title;
    }

    .section-faq__faq-list {
        padding: 0 75px 50px 75px;
    }

    .faq-list {
        .faq-list__ul {
            display: flex;
            flex-direction: column;
            min-width: 235px;
        }

        .faq-list__li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            width: 100%;
            border-bottom: 1px solid $clr-divider;
            padding: 25px 0;

            &:first-child {
                border-top: 1px solid $clr-divider;
            }
        }
        
        .faq-list__item {
            // @include select-off;
            display: flex;
            justify-content: space-between;
            height: 100%;
            cursor: pointer;

            &:hover {
                @include hover-wrapper {
                    .faq-list__btn-expand {
                        background-color: rgba($clr-text-dark, .15);
                    }
                }
            }
            
        }

        .faq-list__title-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        .faq-list__title {
            @extend %font-light;
            font-size: 20pt !important;
            font-weight: 400;
            color: $clr-text-dark;
            align-self: flex-start;
        }

        .faq-list__btn-expand {
            color: $clr-text-dark;
            background: transparent url('images/icon/icon-plus.svg') center no-repeat;
            pointer-events: none;
            display: flex;
            border-radius: 100px;
            margin: auto 14px;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            transition: transform $faq-list-animation-speed, height $faq-list-animation-speed, background-color .15s;
        }

        .faq-list__btn-expand_expanded {
            transform: rotate(45deg);
        }

        .faq-list__content {
            @extend %font-light;
            font-size: 16pt;
            color: $clr-text-dark;
            transition: $faq-list-animation-speed;

            overflow: clip;
            visibility: hidden;
            height: 0;
        }

        .faq-list__content_expanded {
            visibility: visible;
            height: auto;
            overflow: clip;
        }

        .faq-list__text {
            padding-top: 25px;
        }
    }
}

.section-prices {
    @extend %font-light;
    margin-top: 50px;

    .section-prices__inner {
        display: flex;
        flex-direction: column;
        border: 3px solid $clr-accent;
        border-radius: 50px;
        background-color: $clr-bg;
        padding: 50px 25px 50px 25px;
        margin: 0px 25px;
    }

    .section-prices__title {
        @extend .section-title;
        margin: 0;
        padding-bottom: 50px;
    }

    .section-prices__prices-table {
        padding-bottom: 50px;
    }

    .section-prices__button {
        @extend .button-open-form;
        margin: 0 auto;
    }
}

.prices-table {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .prices-table__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 25px;
    }

    .prices-table__col-name,
    .prices-table__col-list,
    .prices-table__col-price
     {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .prices-table__col-name {
        flex-basis: 30%;
        font-size: 20pt;
        font-weight: 400;
        text-transform: uppercase;
    }

    .prices-table__col-list {
        display: flex;
        flex-basis: 40%;
        flex-grow: 1;

        list-style-type: '— ';
        padding-left: 2rem
    }

    .prices-table__col-price {
        display: flex;
        flex-basis: 10%;
        white-space: nowrap;

        .prices-table__text-price,
        .prices-table__text-time {
            display: flex;
            justify-content: flex-end;
        }

        .prices-table__text-price {
            font-size: 20pt;
            font-weight: 400;
        }
    }
}

.section-footer {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

    .section-footer__image {
        flex-wrap: wrap;
        position: relative;

        background-image: url('images/bg/bg-section-footer.jpg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        height: 450px;
    }

    .section-footer__inner {
        display: flex;
        flex-direction: row;
        height: 350px;
        box-shadow: 0 0 32px $clr-image-shadow;
    }

    .section-footer__contacts {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 50%;

        justify-content: space-between;
        background-color: $clr-footer;

        height: 350px;
        padding: 40px 40px;
    }

    .section-footer__contacts-title {
        @extend %font-title;
        font-size: 26pt;
        letter-spacing: 1px;
        line-height: normal;
        color: $clr-text-light;
        text-transform: none;
        margin: 0 auto;
    }

    .section-footer__contacts-info {
        @extend %font-light;
        justify-content: flex-start;
        font-size: 16pt;
        color: $clr-text-light;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-footer__menu-contacts {
        justify-content: flex-start;
    }

    .section-footer__map {
        display: flex;
        flex-grow: 1;
        flex-basis: 50%;
        height: 350px;
	}

	.map {
		width: 100%;
		height: 100%;
	}
}

@import 'media';